header {
  border-top: 1px solid #eef0f1;
  border-bottom: 1px solid #eef0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-bottom: 15px;
  margin-top: 30px;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 10px;
}

.header-menu {
  width: 40px;
  padding-left: 10px;
  padding-right: 100px;
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.header-img_1 {
  padding-right: 10px;
}

.header-img_2 {
  padding-right: 10px;
}
.header-img img {
  width: 40px;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
}
